<div style="text-align:center">
    <form type=submit>
        <input type=hidden name="model_id" value={{model_id}} id="model_id"/>
	    {% for element in model_desc %}
		    	<div class="input-group">
			    	<span class="input-group-addon"> {{element.title}} </span>
				    <input type="input" class="form-control" name="{{element.id}}" value="{{element.value}}"
                    {% if is_admin == 0%}
                        readonly
                    {% endif%}
                    />
    			</div>
	    {% endfor %}

        <br><br>

        {% for block in datasets %}
	        {% for element in block: %}
		        <div class="input-group">
			        <span class="input-group-addon"> {{element.title}} </span>
				    <a class="form-control" href="/dataset?{{element.keywords}}"> {{element.value}} </a>
    		    </div>
            {% endfor%}
            <br><br<br>
    	{% endfor %}

        {% if is_admin == 1%}
	        <button type="submit" class="btn btn-default" id=submit_update_button name="update" value="update">Обновить</button>
        {% endif%}
    </form>

</div>
