<script src="/files/js/table.js"> </script>

    <div id="table" class="table-editable" style="margin-left:20px;margin-right:20px">
        <table class="table">
            <tr class="active">
                {% for el in head %}
                    <td>{{el}}</td>
                {% endfor  %}
                <th></th>
            </tr>

            {% for row in table %}
                <tr>
                    {% for el in row %}
                    <td>{{el}}</td>
                    {% endfor  %}
                    <td>
                        <span class="table-remove glyphicon glyphicon-remove"></span>
                    </td>
                </tr>
            {% endfor %}


            <!-- This is our clonable table line -->
            <tr class="hide">
                {% for el in head %}
                    <td contenteditable="true">0.0</td>
                {% endfor  %}
                <td>
                    <span class="table-remove glyphicon glyphicon-remove"></span>
                </td>
            </tr>
        </table>
    </div>

    <div>
	<button type="button" class="btn btn-success btn-lg">
		Add row
	</button>
    </div>
